<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ecommerce</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="connection.pool_size">100</property>
        <mapping class="com.arams.beans.CreditCard"/>
        <mapping class="com.arams.beans.UserProductCartId"/>
        <mapping class="com.arams.beans.ProductImage"/>
        <mapping class="com.arams.beans.ProductImageId"/>
        <mapping class="com.arams.beans.Category"/>
        <mapping class="com.arams.beans.User"/>
        <mapping class="com.arams.beans.UserProductCart"/>
        <mapping class="com.arams.beans.Product"/>
    </session-factory>
</hibernate-configuration> 
